<!DOCTYPE html>
<html>
<head>
  <title>ReportGenerator-Alice & Bob</title>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div id="app" class="row">
  	  {{currentTab}}
	  <div class="col s10">
		  <ul class="pagination">
		    <li v-bind:class="{currentTab=='general' ? 'active' : 'waves-effect'}"><a href="#!" v-on:click="currentTab='general'">Réunion</a></li>
		    <li v-bind:class="{currentTab=='ordres' ? 'active' : 'waves-effect'}"><a href="#!" v-on:click="currentTab='ordres'">Ordre du jour</a></li>
		    <li v-bind:class="{currentTab=='participants' ? 'active' : 'waves-effect'}"><a href="#!" v-on:click="currentTab='participants'">Participants</a></li>
		    <li v-bind:class="{currentTab=='resume' ? 'active' : 'waves-effect'}"><a href="#!" v-on:click="currentTab='resume'">Résumé de la séance</a></li>
		    <li v-bind:class="{currentTab=='incidents' ? 'active' : 'waves-effect'}"><a href="#!" v-on:click="currentTab='incidents'">Incidents</a></li>
		  </ul>
		  <div v-if="{currentTab=='general'}">
		  	<div class="row">
			  	<div class="col s5">	
			  		<label for="type" >Type de réunion</label>
		    		<input placeholder="Réunion du Conseil" id="type" type="text" class="validate">
		    	</div>
		  		<div class="col s5">
		  			<label for="dateReunion" >Date de tenue de la réunion</label>
		  			<input placeholder="25 Décembre 2016" id="dateR" type="datetime-local" class="validate">
		  		</div>
		    </div>
		  	<div class="row">
		  		<div class="col s5">
		  			<label for="heureDebut" >Heure de début de la réunion</label>
		  			<input placeholder="19:00" id="heureDebut" type="text" class="validate">
		  		</div>
			  	<div class="col s5">
		  			<label for="heureFin" >Heure de cloture de la réunion</label>
		  			<input placeholder="20:00" id="heureFin" type="text" class="validate">
		  		</div>
		  	</div>
		  	<div class="row">
			  	<div class="col s5">	
			  		<label for="type" >Date de la prochaine réunion</label>
		    		<input placeholder="18 Janvier 2017" id="type" type="datetime-local" class="validate">
		    	</div>
		    </div>
		  </div>
		  <div v-if="{currentTab=='ordres'}">
		  	<div class="row">
			  	<div class="col s5">	
			  		<label for="ordre" >Ordre du jour</label>
		    		<input placeholder="Item supplémentaire" id="ordre" type="text" class="validate" v-model="currentText" v-on:keyup.enter="addOrdre">
		    	</div>
		    	<div class="col s5">
		    		<ul>
			    		<li class="chip" v-for="ordre in ordres"> {{ ordre }} <i class="close material-icons" v-on:click="delOrdre(ordre)">close</i> </li>
		    		</ul>
		    	</div>
		    </div>
		  </div>
		  <div v-if= "{currentTab=='participants'}">
		  	<div class="row">
			  	<div class="col s5">	
			  		<label for="type" >Participants</label>
		    		<input placeholder="Prénom Nom, fonction." id="type" type="text" class="validate" v-model="currentText" v-on:keyup.enter="addAttendant">
		    	</div>
		    	<div class="col s5">
		    		<ul>
		    			<li class="chip" v-for="attendant in attendants"> {{ attendant }} <i class="close material-icons" v-on:click="delAttendant(attendant)">close</i> </li>
		    		</ul>
		    	</div>
		    </div>
		  </div>
		  <div v-if="{currentTab=='resume'}">
		  	<div class="row">
			  	<div class="col s10" v-for="ordre in ordres">
			  		<label for="type" >{{ordre}}</label>
		    		<input placeholder="Résumé" id="type" type="text" class="validate">
		    	</div>
		    </div>
		  </div>
		  <div v-if="{currentTab=='incidents'}">
		  	<div class="row">
			  	<div class="col s10">	
			  		<label for="type" >Incidents</label>
		    		<input value="Aucun incident à déplorer" id="type" type="text" class="validate">
		    	</div>
		    </div>
		  </div>
	  	  <button>Générer</button>
	  </div>
  </div>
  <script src="js/app.js"></script>
  <footer>Gracieusement créé par Antoine Carat, président fondateur d'Alice & Bob. 4ever in our <3</footer>

</body>
</html>